<!--We are now going to turn this into a template partial. Instead of using this as a full
standalone html page, this is going to be a small portion of content to be
called and loaded into another page. In this case, index.html.-->

<!--main.html-->

<!--First thing to note: there is no header. Now that these are partials, they
will be called into index.html at the appropriate spot and will inherit all aspects
of the page above and below the pointer. This means that as long as there is a
head on the index.html, there needs not be one here. I know, pretty cool.-->
<div class="clearfix">
<!--The next thing to notice is that everything, aside from the specific content
we want to render, is taken out of this page. All of the things that make this
a unique page is deleted. With partials we are turning this from a page
in a novel to a paragraph in a page.-->

  <form ng-Submit="post()">
    <input required type="text" class="form-control" placeholder="Your name" ng-model="newPost.created_by" />
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
  </form>
  <div id="post-stream">
    <h4>Chirp Feed</h4>
      <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <p>{{post.text}}</p>
        <small>Posted by @{{post.created_by}}</small>
        <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
      </div>
  </div>
</div>
